body {
  margin: 0;
  background-color: #212121 !important;
  font-family: 'Agdasima' !important;
}
.nav-logo{
  width: 55px;
}
.navbar{
  background-color: #2c2c2c;
}
.navbar .toggler{
  background-color: white;
}
.navbar .toggler:focus{
  box-shadow: none !important;
}
.search-btn{
  font-size: 20px !important;
  padding: 6px 10px;
}
.search-input::placeholder{
  font-size: 20px;
}
.search-input{
  border: none !important;
}
.topTitles{
  color: #ffff;
}
.popular{
  font-size: 50px;
}
.Head-title{
  font-size: 80px;
  margin: 10px 0px;
  border-bottom: 2px solid #ffffff91;
}
.full-card{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 430px !important; 
  margin-bottom: 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.42);
  border: none !important;
  background-color: transparent !important;
  border-radius: 20px !important;
}
.full-card .over-text p{
  font-size: 23px;
  color: rgba(255, 255, 255, 0.884);
}
.full-card .movieTitle{
  font-size: 30px;
}
.card-body{
  position: absolute;
  height: 100%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.42);
  color: white !important;
  opacity: 0;
  width: 100%;
}
.full-card:hover .card-body{
  opacity: 1;
}
.movie-details{
  background-color: #2c2c2c;
  color: white;
  border-radius: 10px;
}
.movie-details .details h4{
  margin: 15px;
}
.movie-details .details{
  padding: 20px;
}
.image{
  height: 370px;
}
.image img{
  border-radius: 30px;
}
.paginate{
  font-size: 30px;
}